.about {
    padding: 130px 0;
    position: relative;
}

.container, .about-container {
    padding: 0 15px;
    margin: 0 auto;
}

.row {
    align-items: center;
}

.col-lg-6 {
    /* width: 50%; */
    padding: 0 15px;
    box-sizing: border-box;
}

@media screen and (min-width: 992px) {
    .col-lg-6 {
        width: 50%;
    } 
}

.about-pic {
    text-align: center;
}

.about-title {
    color: #564DCA;
    letter-spacing: 0.02em;
    text-decoration: underline;
    margin-bottom: 18px;
    text-transform: uppercase;

    font-size: 14px;
    font-weight: 700;
    position: relative;
    letter-spacing: 0.09em;
    display: inline-block;
    padding: 0;
    margin-bottom: 25px;
}

.about-main-title {
    font-size: 45px;
    /* color: #030B15; */
    line-height: 1.26;
    margin: 0;
}

@media screen and (max-width: 1500px) {
    .about-main-title {
        font-size: 40px;
    }
}

@media screen and (max-width: 1200px) {
    .about-main-title {
        font-size: 36px;
    }
}

@media screen and (max-width: 992px) {
    .about-main-title {
        font-size: 40px;
    }
}

@media screen and (max-width: 767px) {
    .about-main-title {
        font-size: 28px;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    .about-main-title {
        font-size: 36px;
    }
}

.about-content p {
    color: #727885;
    margin-bottom: 20px;
    width: 80%;
}

.about-content ul {
    margin-bottom: 45px;
}

.about-content ul li {
    display: flex;
    align-items: baseline;
    /* color: #030B15; */
    margin-bottom: 10px;
}

.download-button {
    background: #564DCA;
    border-radius: 5px;
    padding: 25px 42px;
    border: none;

    color: #fff;
    cursor: pointer;
    display: inline-block;
    /* font-size: 15px; */
    font-weight: 700;
    letter-spacing: .5px;
    line-height: 1;
    margin-bottom: 0;
    /* padding: 25px 50px; */
    text-align: center;
    text-transform: uppercase;
    transition: all 0.4s 0s;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}

.download-button:hover {
    color: #fff;
    background: #00C4F4;
}

@media screen and (max-width: 1500px) {
    .download-button {
        font-size: 13px;
        /* padding: 19px 35px; */
    }
}

.about-content ul li i {
    color: #564DCA;
    margin-right: 10px;
}

.about-title-wrap {
    margin-bottom: 15px;
}

@media screen and (max-width:1500px) {
    font-size: 40px;
}

.shape-one {
    left: 9%;
    bottom: 90px;
    animation: leftToRight 5s infinite linear;
}

@keyframes leftToRight {
    0%   {left:7%; bottom: 90px;}
    50%  {left: 9%; bottom: 90px;}
    100% {left: 7%; bottom: 90px;}
}

.about-shape-wrap img.shape-one {
	left: 9%;
	bottom: 90px;
	animation: leftToRight 5s infinite linear;
    animation-name: leftToRight;
    animation-duration: 5s;
    animation-timing-function: infinite;
}

@keyframes teamRotate {
    from {
       transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

.shape-two {
    right: 7%;
    bottom: 22%;
    animation-name: teamRotate;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@media screen and (max-width: 992px) {
    .shape-one {
        display: none;
    }

    .shape-two {
        right: 12%;
        bottom: 6%;
    }
}

.about-shape-wrap img {
    position: absolute;
}

img, .img {
    max-width: 100%;
    transition: all 0.3s ease-out 0s;
}