@keyframes header {
    from {
        background-color: none;
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        background-color: #030B15;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInDown {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes leftToRight {
    0%   {transform: translateX(0px);}
    50%  {transform: translateX(50px);}
    100% {transform: translateX(0px);}
}

@keyframes Rotate {
    from {
       transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}
