.footer-container .footer-top {
    padding: 70px 40px 65px;
}

.footer-col-6, .footer-col-4, .footer-col-5, .footer-col-1 {
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
}

.footer-main-menu {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.footer-main-menu li {
    margin-right: 60px;
}

.footer-main-menu li a {
    color: #030B15;
    font-weight: 900;
    font-size: 16px;
}

.footer-main-menu li a:hover {
    color: #00C4F4;
}

.footer-social ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.footer-social ul li {
    margin-right: 40px;
}

.footer-social ul li a {
    color: #0A142F;
    opacity: .3;
    font-size: 24px;
    line-height: 1;
}

.footer-social ul li a:hover {
    color: #00C4F4;
    opacity: 1;
}

.footer-container .footer-bottom {
    border-top: 1px solid #F0F3F9;
    padding: 40px 40px;
}

.copyright-text p {
    color: #282F3B;
    margin: 0;
    font-size: 15px;
    font-weight: 800;
}

.scroll-up {
    text-align: center;
}

.scroll-up button {
    width: 46px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #564DCA;
    padding: 0 0;
    border: none;
    color: #fff;
    font-size: 17px;
    margin: -60px auto 15px;
    cursor: pointer;
    transition: all 0.3s ease-out 0s;
}

.scroll-up button a{
    color: #fff;
}

.scroll-up button:hover {
    background-color: #00C4F4;
}

.scroll-up span {
    display: block;
    color: #0A142F;
    font-size: 14px;
    font-weight: 800;
}

.footer-bottom-menu ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.footer-bottom-menu ul li {
    margin-right: 30px;
}

.footer-bottom-menu ul li a {
    font-size: 10px;
    color: #0A142F;
    font-weight: 800;
}

.footer-bottom-menu ul li a:hover {
    color: #00C4F4;
}