.header {
    position: absolute;
    top: 0;
    left: 0;
    /* margin: 0 30px;
    padding: 10px 15px; */
    z-index: 9;
    width: 100%;
}

.sticky-header {
    /* position: fixed; */
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    width: 100%;
    z-index: 99;
    padding: 0;
    /* background-color: #000; */
    /* background: #030B15; */
    animation-name: header;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
}

.header-container {
    max-width: 1520px;
    margin: 0 auto;
    padding: 0 15px;
}

/* .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    max-width: 100%;
} */

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-12 {
    padding: 0 12px;
    width: 100%;
}

.menu-nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.main-menu {
    /* display: flex; */
    flex-grow: 1;

}

.main-menu ul {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 140px;
    padding: 0;
}

.main-menu ul li {
    margin-right: 40px;
    display: block;
    position: relative;
}

.main-menu ul li:last-child {
    margin-right: 0;
}

.main-menu ul li a {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 40px 0;
    display: block;
    line-height: 1;
    position: relative;
    z-index: 1;
    letter-spacing: 1px;
}

.main-menu ul li .sub-menu {
    /* display: none; */

    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    min-width: 230px;
    border: 1px solid rgba(255, 255, 255, 0.07);
    background: #0B1D33;
    margin: 0;
    transform-origin: top center;
    transform: scale(1, 0);
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 30px 70px 0px rgba(0, 0, 0, 0.15);
    padding: 18px 0;
    display: block;
    visibility: hidden;
    opacity: 0;
    z-index: 9;
    /* right: auto;
	left: 100%;
	top: 0; */
}

.main-menu ul li:hover .sub-menu {
    opacity: 1;
	visibility: visible;
	transform: scale(1);
}

.main-menu ul li .sub-menu li {
    margin-left: 0;
	text-align: left;
	display: block;
}

.main-menu ul li .sub-menu li a {
    padding: 9px 15px 9px 25px;
    line-height: 1.4;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    display: block;
    font-size: 14px;
}

.main-menu ul li .sub-menu li a:hover {
    color: #00C4F4;
}

.section-link:hover {
    color: #00C4F4;
}

.header-action {

}

.header-action ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* max-width: 100%; */
    align-items: center;
    margin-left: 10px;
}

.header-action ul li {
    position: relative;
    margin-left: 65px;
    padding-left: 65px;
}

.header-language {
    display: block;
    width: fit-content;
}

.header-action ul li:first-child {
    margin-left: 0;
    padding-left: 0;
}

.select-language {
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    display: flex;
    align-items: center;
    cursor: pointer;
    letter-spacing: 1px;
}

.select-language::after {
    content: "\f107";
    display: block;
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    color: #00C4F4;
    margin-left: 10px;
    font-size: 12px;
}

.header-language .language-list {
    position: absolute;
    left: -25px;
    top: 55px;
    background: #0B1D33;
    z-index: 3;
    padding: 10px 0;
    border-radius: 6px;
    box-shadow: 0px 30px 70px 0px rgba(40, 44, 49, 0.15);
    min-width: 100px;
    visibility: hidden;
    opacity: 0;
    transform-origin: top center;
    transform: rotateX(-45deg);
    transition: all 0.3s ease-out 0s;
}

.header-language:hover .language-list {
	visibility: visible;
	opacity: 1;
	transform: rotateX(0deg);
}

.header-language .language-list li {
	margin-bottom: 5px;
	line-height: 1;
    margin-left: 0;
    padding-left: 0;
}

.header-language .language-list li:last-child {
	margin-bottom: 0;
}
.header-language .language-list li a {
	display: block;
	font-size: 14px;
    font-weight: 600;
	color: #fff;
	padding: 5px 15px 5px 15px;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.header-language .language-list li a:hover {
	color: #00C4F4;
}

.header-button {
    margin-left: 35px;
    /* margin-right: 40px; */
    padding-left: 35px;
    box-sizing: border-box;
    max-width: 100%;
}

.button::before {
    height: 20px;
    opacity: .4;
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 2px;
    background: #FFFFFF;
}

.button {
    border: 2px solid transparent;
    color: #fff;
    text-transform: uppercase;
    background: #00C4F4;
    border-radius: 5px;
    padding: 16px 35px;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: .5px;
    line-height: 1;
    box-sizing: border-box;
    max-width: 100%;
    transition: all 0.4s 0s;
}

.button:hover {
    background: #564DCA;
    border-color: #564DCA;
    color: #fff;
}

.menu-bar {
    position: relative;
    float: right;
    font-size: 30px;
    cursor: pointer;
    line-height: 1;
    color: #000;
    display: none;
    margin-top: 3px;
    /* margin-left: 40px */
}

/* mobile-menu-area */

.mobile-menu {
    position: fixed;
    right: 0;
    top: 0;
    width: 300px;
    padding-right: 30px;
    max-width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    z-index: 99;
    border-radius: 0px;
    transition: all 700ms ease;
    transform: translateX(101%);
}

.menu-bar:hover .mobile-menu {
	opacity: 1;
	visibility: visible;
    transform: translateX(0%);
}

.mobile-menu .menu-box {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    max-height: 100%;
    background: #0B1D33;
    padding: 0px 0px;
    z-index: 5;
    box-shadow: -9px 0 14px 0px rgb(0 0 0 / 6%);
}

.menu-bar:hover .mobile-menu .menu-box {
    opacity: 1;
    visibility: visible;
}

.mobile-menu .close-button {
    position: absolute;
    right: 15px;
    top: 28px;
    line-height: 30px;
    width: 35px;
    text-align: center;
    font-size: 20px;
    color: #00C4F4;
    cursor: pointer;
    z-index: 10;
    transition: all 0.9s ease;
}

.menu-bar:hover .mobile-menu .close-button {
    transform: rotate(360deg);
}

.mobile-menu .logo {
    position: relative;
    padding: 30px 25px;
    text-align: left;
}

.mobile-main-menu {
    position: relative;
    display: block;
    width: 100%;
}

.mobile-main-menu li {
    position: relative;
    display: block;
    border-top: 1px solid rgb(255 255 255 / 6%);
}

.mobile-main-menu li a {
    position: relative;
    display: block;
    line-height: 24px;
    padding: 10px 60px 10px 25px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    transition: all 500ms ease;
    border: none;
    letter-spacing: 0.08em;
}

.dropdown-button {
    position: absolute;
    right: 15px;
    top: 6px;
    width: 32px;
    height: 32px;
    text-align: center;
    font-size: 16px;
    line-height: 32px;
    color: #fff;
    background: #00C4F4;
    cursor: pointer;
    border-radius: 2px;
    transition: all 500ms ease;
    z-index: 5;
}

.menu-backdrop {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition: all 700ms ease;
    opacity: 0;
    visibility: hidden;
    background: #0B1D33;
}

.menu-bar:hover .menu-backdrop {
    opacity: 0.80;
    visibility: visible;
}

.mobile-menu .social-links ul {
    display: flex;
    position: relative;
    text-align: center;
    padding: 30px 20px 20px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.mobile-menu .social-links li {
    position: relative;
    display: inline-block;
    margin: 0px 6px 10px;
}

.mobile-menu .social-links li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    position: relative;
    line-height: 32px;
    font-size: 16px;
    color: #fff;
    transition: all 500ms ease;
    border: 1px solid rgb(255 255 255 / 10%);
    border-radius: 3px;
}

.mobile-menu .social-links li a:hover {
	border-color: #00C4F4;
	background: #00C4F4;
	color: #fff;
}