/* header-responsive */

@media screen and (max-width: 1500px) {
    .sticky-header {
        padding: 0px 0;
    }
}

@media screen and (max-width: 1500px) {
    .header-container{
        max-width: 1250px;
    }
}

@media screen and (max-width: 1200px) {
    .header-container{
        max-width: 1140px;
    }
}

@media screen and (max-width: 992px) {
    .header-container{
        max-width: 960px;
    }
}

@media screen and (max-width: 768px) {
    .header-container{
        max-width: 720px;
    }
}
@media screen and (max-width: 576px) {
    .header-container{
        max-width: 570px;
    }
}

@media screen and (min-width: 992px) {
    .main-menu {
        display: flex;
    }
}

@media screen and (max-width: 1500px) {
    .main-menu ul {
        margin-left: 100px;
    }
    
}

@media screen and (max-width: 1200px) {
    .main-menu ul {
        margin-left: 60px;
    }
}

@media screen and (max-width: 1500px) {
    .header-action ul li {
        margin-left: 35px;
        padding-left: 35px;
    }
}

@media screen and (max-width: 1200px) {
    .header-action ul li {
        margin-left: 0;
        padding-left: 20px;
    }
}

@media screen and (max-width: 1200px) {
    .header-language, .select-language {
        display: none;
    }
    .main-menu ul {

    }
}

@media screen and (max-width: 992px) {
    .main-menu, .button::before {
        display: none;
    }

    .sticky-header {
        padding: 10px 0;
    }

    .menu-nav {
        justify-content: space-between;
    }

    .menu-bar {
        display: block;
        /* margin-right: 100px; */
        color: #fff;
        margin-top: 17px;
    }
    .header-container {
        /* display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: nowrap; */
        /* justify-content: flex-start; */
        max-width: 720px;
    }

    .header-button {
        margin-left: 35px;
        margin-right: 0px;
    }

    .header-action {
        margin-right: 40px;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    .header-container {
        max-width: 540px;
    }
}

@media screen and (max-width: 766px) {
    .header-button {
        display: none;
    }
}

/* end header-responsive */
/* title-responsive */

@media screen and (max-width: 1500px) {
    .title-wrap {
        padding: 180px 0 0;
    }
}

@media screen and (max-width: 1200px) {
    .title-wrap {
        padding: 170px 0 0;
    }
}

@media screen and (max-width: 992px) {
    .title-wrap {
        padding: 150px 0 0;
    }
}

@media screen and (max-width: 768px) {
    .title-wrap {
        padding: 130px 0 0;
    }
}

@media screen and (max-width: 1500px) {
    .title-container, .container {
        max-width: 1200px;
    }
}

@media screen and (max-width: 1200px) {
    .title-container, .container {
        max-width: 960px;
    }
}

@media screen and (max-width: 992px) {
    .title-container, .container {
        max-width: 720px;
    }
    
}

@media screen and (min-width: 576px) and (max-width: 767px) {  
    .title-container, .container {
        max-width: 540px;
    }
}

@media screen and (max-width: 992px) {
    .title-banner {
        font-size: 55px;
        line-height: 1.2;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    .title-banner {
        font-size: 40px;
    }
}

@media screen and (max-width: 1500px) {
    .title-banner {
        margin-bottom: 55px;
    }
}

@media screen and (max-width: 1500px) {
    .title-pic img {
        max-width: 700px;
    }
}

@media screen and (max-width: 1200px) {
    .title-pic img {
        max-width: 600px;
    }
}
/* 
@media screen and (max-width: 768px) {
    .title-pic img {
        max-width: 100%;
    }
} */

@media screen and (max-width: 1500px) {
    .social-icon {
        left: 55px;
    }
}

@media screen and (max-width: 1500px) {
    .scroll-banner{
        right: 0;
    }
}

@media screen and (max-width: 1200px) {
    .scroll-banner, .social-icon {
        display: none;
    }
}

/* end title-responsive */

/* countdown-responsive */

@media screen and (min-width: 992px) {
    .countdown-col {
        width: 100%;
    }
}

@media screen and (max-width: 1200px) {
    .countdown-content {
        column-gap: 70px;
    }
}

@media screen and (max-width: 992px) {
    .countdown-content {
        column-gap: 30px;
    }
    
}

@media screen and (max-width: 767px) {
    .countdown-content {
        column-gap: 25px;
    }
    .countdown-content>div {
        width: 110px;
        height: 110px;
        position: relative;
    }
    .countdown-canvas{
        width: 110px;
        height: 110px;
    }
    .countdown-value {
        display: block;
        line-height: 1;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        text-align: center;
    }
    .countdown-value div {
        font-size: 30px;
        margin-top: 0;
    }

}

/* end countdown-responsive */

/* about-responsive */

@media screen and (min-width: 992px) {
    .col-lg-6 {
        width: 50%;
    } 
}

@media screen and (max-width: 1500px) {
    .about-main-title {
        font-size: 40px;
    }
}

@media screen and (max-width: 1200px) {
    .about-main-title {
        font-size: 36px;
    }
}

@media screen and (max-width: 992px) {
    .about-main-title {
        font-size: 40px;
    }
}

@media screen and (max-width: 767px) {
    .about-main-title {
        font-size: 28px;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    .about-main-title {
        font-size: 36px;
    }
}

@media screen and (max-width: 1500px) {
    .download-button {
        font-size: 13px;
        /* padding: 19px 35px; */
    }
}

@media screen and (max-width: 992px) {
    .shape-one {
        display: none;
    }

    .shape-two {
        right: 12%;
        bottom: 6%;
    }
}

/* end about-responsive */
/* reason-responsive */

@media screen and (max-width: 1200px) {
    .reason-title h2 {
        font-size: 34px;
    }
}

@media screen and (max-width: 992px) {
    .reason-title h2 {
        font-size: 40px;
    }
}

@media screen and (max-width: 768px) {
    .reason-title h2 {
        font-size: 28px;
    }
}

@media screen and (min-width: 992px) {
    .col {
        width: 25%;
    }
}

@media screen and (min-width: 576px) and (max-width: 991px) {
    .col {
        width: 50%;
    }
}

@media screen and (max-width: 992px) {
    .reason-item-wrap {
        margin-bottom: 60px;
    }
}

@media screen and (max-width: 768px) {
    .reason-item-wrap {
        text-align: center;
        max-width: 280px;
        margin: 0 auto 60px;
    }
}

@media screen and (max-width: 1200px) {
    .reason-content {
        width: 98%;
    }
}

@media screen and (max-width: 992px) {
    .reason-content {
        width: 100%;
    }
}

/* end reason-responsive */
/* counter-responsive */

@media screen and (max-width: 1200px) {
    .counter-inner {
        padding: 64px 45px 33px;
    }
}

@media screen and (max-width: 992px) {
    .counter-inner {
        padding: 50px 45px 20px;
    }
}

@media screen and (max-width: 768px) {
    .counter-inner {
        padding: 50px 30px 20px;
    }
}

@media screen and (max-width: 992px) {
    .counter-row{
        justify-content: center;
    }
}

@media screen and (min-width: 992px) {
    .counter-col{
        width: 33.3%;
    }
}

@media screen and (min-width: 576px) and (max-width: 991px) {
    .counter-col{
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    .counter-icon {
        margin-right: 20px;
    }
}

@media screen and (max-width: 1200px) {
    .counter-content h2 {
        font-size: 40px;
    }
}

@media screen and (max-width: 992px) {
    .counter-content h2 {
        font-size: 42px;
    }
}

@media screen and (max-width: 768px) {
    .counter-content h2 {
        font-size: 34px;
    }
}

/* end counter-responsive */
/* roadmap-responsive */

@media screen and (max-width: 1800px) {
    .roadmap-container {
        max-width: 1500px;
    }
}

@media screen and (max-width: 1200px) {
    .roadmap-item {
        width: 25%;
    }
}

@media screen and (max-width: 1258px) {
    .roadmap-item {
        margin-left: 0;
    }
}

@media screen and (max-width: 992px) {
    .dot, .roadmap-wrap::before, .roadmap-wrap-bottom::before, .roadmap-content::before {
        display: none;
    }

    .roadmap-title {
        margin-bottom: 10px;
    }

    .roadmap-content {
        margin: 0;
        padding: 0;
    }

    .roadmap-item {
        width: 36%;
    }

    .roadmap-wrap, .roadmap-wrap-bottom {
        column-gap: 40px;
        row-gap: 30px;
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {
    .roadmap-item {
        width: 45%;
    }
}

@media screen and (max-width: 576px) {
    .roadmap-item {
        width: 100%;
    }
}

/* @media screen and (max-width: 1500px) {
    .roadmap-container {
        max-width: 1250px;
    }
} */

@media screen and (max-width: 1200px) {
    .roadmap-container {
        max-width: 1140px;
    }
    .roadmap-title-wrap h2 {
        font-size: 36px;
    }
}

@media screen and (max-width: 992px) {
    .roadmap-container {
        max-width: 960px;
    }
    .roadmap-title-wrap h2 {
        font-size: 40px;
    }
}

@media screen and (max-width: 768px) {
    .roadmap-container {
        max-width: 720px;
    }
    .roadmap-title-wrap h2 {
        font-size: 28px;
    }
}

@media screen and (max-width: 576px) {
    .roadmap-container {
        max-width: 540px;
    }
}

/* end roadmap-responsive */
/* team-responsive */

@media screen and (max-width: 1200px) {
    .team-sub-main-title {
        font-size: 34px;
    }
}

@media screen and (max-width: 992px) {
    .team-sub-main-title {
        font-size: 40px;
    }
    .team-title {
        margin-bottom: 8px;
        font-size: 19px;
    }
}

@media screen and (max-width: 768px) {
    .team-sub-main-title {
        font-size: 28px;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    .team-sub-main-title {
        font-size: 36px;
    }
}

@media screen and (min-width: 576px) {
    .team-col {
        width: 50%;
    }
}

@media screen and (min-width: 768px) {
    .team-col {
        width: 33.3333333%;
    }
}

@media screen and (min-width: 992px) {
    .team-col {
        width: 25%
    }
}


/* end team-responsive */
/* download-responsive */

@media screen and (min-width: 992px) {
    .download-col-4 {
        width: 50%;
    }

    .download-col-6 {
        width: 50%;
    }
}


@media screen and (min-width: 1200px) {
    .download-col-4 {
        width: 42%;
    }

    .download-col-6 {
        width: 58%;
    }
}

@media screen and (max-width: 1500px) {
    .download-main-title {
        font-size: 40px;
    }
}

@media screen and (max-width: 992px) {
    .download-col-6 {
        order: 0!important;
    }
    .download-col-4 {
        order: 1;
    }
    .download-content {
        margin-top: 50px;
    }
}

/* end download-responsive */
/* question-responsive */

@media screen and (max-width: 768px) {
    .img-one, .img-two {
        display: none;
    }
}

/* end question-responsive */

/* contact-responsive */



@media screen and (min-width: 992px) {
    .contact-col {
        width: 50%;
    }
}

@media screen and (max-width: 1200px) {
    .contact-info-list {
        width: 85%;
    }
}

@media screen and (max-width: 992px) {
    .contact-col {
        width: 100%;
    }
    .contact-info-wrap {
        margin-bottom: 70px;
    }
    .contact-info-list {
        width: 100%;
    }
}

/* end contact-responsive */
/* subcribe-responsive */

@media screen and (min-width: 992px) {
    .subcribe-col {
        width: 100%;
    }
}

@media screen and (max-width: 1200px) {
    .subcribe-wrap {
        padding: 50px 30px;
    }
    .subcribe-title {
        font-size: 28px;
    }
}

@media screen and (max-width: 992px) {
    .subcribe-wrap {
        padding: 45px 30px;
        display: block;
    }
    .subcribe-input {
        width: 100%;
        margin-top: 20px;
    }
    .subcribe-content {
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .sub-button {
        position: initial;
        margin-top: 20px;
    }

    .subcribe-input {
        text-align: center;
    }

    .sub-input {
        padding: 26px 20px 26px 20px;
    }
}

/* end subcribe-responsive */

/* footer-responsive */

@media screen and (min-width: 768px) {
    .footer-col-6 {
        width: 66.7%;
    }
    .footer-col-4 {
        width: 33.3%;
    }
}

@media screen and (min-width: 992px) {
    .footer-col-5 {
        width: 41.6%;
    }
    .footer-col-1 {
        width: 16.6%
    }
}

@media screen and (max-width: 1200px) {
    .footer-container .footer-top {
        padding: 70px 30px 65px;
    }
}

@media screen and (max-width: 992px) {
    .footer-container .footer-top {
        padding: 55px 0 50px;
    }

    .footer-main-menu li {
        margin-right: 40px;
    }

    .scroll-up {
        display: none;
    }

    .copyright-text p {
        text-align: center;
    }

    .footer-bottom-menu ul {
        justify-content: center;
    }

    .footer-container .footer-bottom {
        padding: 20px 0;
    }
}

@media screen and (max-width: 767px) {
    .footer-main-menu li {
        margin-right: 20px;
    }

    .footer-container .footer-top {
        padding: 40px 0 30px;
    }

    .footer-main-menu {
        justify-content: center;
    }

    .footer-social ul {
        margin-top: 20px;
        justify-content: center;
    }
}



/* end footer-responsive */