.title-wrap::before {
    height: 600px;
    content: "";
    position: absolute;
    left: 0;
}

.title-wrap {
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    justify-content: center;
    max-width: 100%;
    box-sizing: border-box;
}

@media screen and (max-width: 1500px) {
    .title-wrap {
        padding: 180px 0 0;
    }
}

@media screen and (max-width: 1200px) {
    .title-wrap {
        padding: 170px 0 0;
    }
}

@media screen and (max-width: 992px) {
    .title-wrap {
        padding: 150px 0 0;
    }
}

@media screen and (max-width: 768px) {
    .title-wrap {
        padding: 130px 0 0;
    }
}

.title-container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    max-width: 1200px;
    box-sizing: border-box;
}

@media screen and (max-width: 1500px) {
    .title-container, .container {
        max-width: 1200px;
    }
}

@media screen and (max-width: 1200px) {
    .title-container, .container {
        max-width: 960px;
    }
}

@media screen and (max-width: 992px) {
    .title-container, .container {
        max-width: 720px;
    }
    
}

@media screen and (min-width: 576px) and (max-width: 767px) {  
    .title-container, .container {
        max-width: 540px;
    }
}



.row {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.col-title {
    /* padding: 0 15px; */
    max-width: 100%;
    /* box-sizing: content-box; */
}

.title-content {
    margin-bottom: 0;
}

.main-title {
    text-align: center;
}

.title-banner {
    font-size: 55px;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    margin-top: 0px;
    font-style: normal;
    font-weight: 600;

    margin-bottom: 65px;
    line-height: 1.36;
    text-transform: none;
    margin-bottom: 65px;
    line-height: 1.4;
    letter-spacing: -0.01em;
    visibility: visible;
    animation-delay: 0.2s;
    animation-name: fadeInDown;
}

@media screen and (max-width: 992px) {
    .title-banner {
        font-size: 55px;
        line-height: 1.2;
    }
}

/* @media screen and (max-width: 768px) {
    .title-banner {
        font-size: 32px;
    }
} */

@media screen and (min-width: 576px) and (max-width: 767px) {
    .title-banner {
        font-size: 40px;
    }
}

@media screen and (max-width: 1500px) {
    .title-banner {
        margin-bottom: 55px;
    }
}

.title-pic {
    text-align: center;
}

.title-pic img {
    max-width: 700px;
}

@media screen and (max-width: 1500px) {
    .title-pic img {
        max-width: 700px;
    }
}

@media screen and (max-width: 1200px) {
    .title-pic img {
        max-width: 600px;
    }
}
/* 
@media screen and (max-width: 768px) {
    .title-pic img {
        max-width: 100%;
    }
} */

.social-icon {
    display: block;
    position: absolute;
    left: 100px;
    bottom: 90px;
}

@media screen and (max-width: 1500px) {
    .social-icon {
        left: 55px;
    }
}

.social-icon ul li {
    margin-bottom: 25px;
    border: 1px solid #F3F3F3;
    border-radius: 50px;
    width: 42px;
    display: flex;
    align-items: center;
}

.social-icon ul li a {
    font-size: 15px;
    color: #081A39;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 12px;
}

.social-icon ul li:active {
    width: auto;
}

.social-icon ul li span {
	color: #B5BAC4;
	font-size: 14px;
	font-weight: 500;
	padding-right: 14px;
	display: none;
}

.scroll-banner {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    right: 40px;
    bottom: 90px;
}

@media screen and (max-width: 1500px) {
    .scroll-banner{
        right: 0;
    }
}

@media screen and (max-width: 1200px) {
    .scroll-banner, .social-icon {
        display: none;
    }
}

.scroll-banner span {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.515em;
    color: #081A39;
    transform: rotate(-90deg);
    margin-bottom: 120px;
    opacity: 0.4;
}